<nav class="navbar navbar-dark bg-primary" >
    <a class="navbar-brand" routerLink="" routerLinkActive="active">
      Banco de Sueños
    </a>
    <a class="navbar-brand" routerLink="/detailBankAccount" routerLinkActive="active">Detalle de Cuentas</a>
   <!-- <a class="navbar-brand" routerLink="/detailTrx" routerLinkActive="active">Detalle de transacciones</a>
    <a class="navbar-brand" routerLink="/listTrx" routerLinkActive="active">Listado de Transacciones</a>
    <a class="navbar-brand"routerLink="/requesProduct" routerLinkActive="active">Solicitud de productos</a>
   -->
  </nav>
  <br />
  <br />
